@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

html {
  min-width: 100vh; }

html, body {
  width: 100%; }

body {
  font-size: 16px;
  color: #3C3C3C;
  font-family: Inter;
  background-color: #fff; }

.container {
  max-width: 2000px;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.yellow-text {
  color: #FFC12F; }

.header {
  display: flex;
  margin: 0 130px;
  justify-content: space-between;
  margin-top: 30px; }

.logo-name {
  font-size: 2rem;
  font-weight: 700;
  font-family: inter; }

.nav-wrapper {
  display: flex;
  align-self: center; }

.nav-list {
  display: flex;
  column-gap: 3rem; }

.nav-link {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Segoe UI; }

.active-link {
  color: #FFC12F;
  text-decoration: underline #FFC12F; }

.main {
  display: flex;
  margin: 0 130px;
  justify-content: space-between;
  margin-top: 90px;
  margin-right: 0; }

.main-text-wrapper {
  max-width: 580px;
  margin-top: 43px; }
  .main-text-wrapper .title {
    font-size: 3rem;
    font-weight: 700;
    font-family: Segoe UI; }
  .main-text-wrapper .text {
    max-width: 510px;
    margin-top: 2rem;
    color: #667085;
    font-weight: 400;
    font-family: Segoe UI; }

.btns {
  display: flex;
  column-gap: 2rem;
  margin-top: 4rem; }
  .btns .btn-oval {
    border: none;
    color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: #FFC12F; }
  .btns .link-see-more {
    display: flex;
    align-self: center;
    column-gap: 2rem; }
    .btns .link-see-more .link-text {
      align-self: center; }
    .btns .link-see-more .link-img {
      align-self: center; }

.sticker {
  padding: 12px 22px;
  border-radius: 7px;
  display: inline-block;
  background-color: #FFF2D4; }
  .sticker .sticker-text {
    font-size: 1rem;
    color: #FFC12F;
    font-weight: 600;
    font-family: Inter; }

.about-service,
.our-delicious,
.our-merits {
  margin: 0 130px;
  margin-top: 200px;
  text-align: center; }
  .about-service .title,
  .our-delicious .title,
  .our-merits .title {
    font-weight: 700;
    font-size: 2.25rem;
    font-family: Segoe UI; }
  .about-service .text,
  .our-delicious .text,
  .our-merits .text {
    margin: 0 auto;
    max-width: 505px;
    color: #667085;
    margin-top: 1.875rem; }

.about-service .scheme {
  display: flex;
  column-gap: 2rem;
  margin-top: 6rem;
  justify-content: space-between; }
  .about-service .scheme .item {
    max-width: 325px;
    text-align: center; }
    .about-service .scheme .item .icon-wrapper {
      width: 88px;
      height: 88px;
      display: grid;
      margin: 0 auto;
      border-radius: 100px; }
      .about-service .scheme .item .icon-wrapper .icon {
        display: block;
        align-self: center;
        justify-self: center; }
    .about-service .scheme .item .icon-wrapper-first {
      background-color: #335DFF; }
    .about-service .scheme .item .icon-wrapper-second {
      background-color: #F6CA00; }
    .about-service .scheme .item .icon-wrapper-third {
      background-color: #0BD28E; }
    .about-service .scheme .item .title {
      margin-top: 2rem;
      font-weight: 600;
      font-family: Inter;
      font-size: 1.125rem; }
  .about-service .scheme .lower-item {
    margin-top: 3rem; }

.our-delicious {
  margin-top: 80px; }
  .our-delicious .menu {
    gap: 1.5rem;
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr)); }
    .our-delicious .menu .item {
      padding: 1rem;
      text-align: left;
      border-radius: 10px;
      transition: all .3s ease-in-out;
      border: 1px solid #00000000; }
      .our-delicious .menu .item .img-wrap {
        display: grid; }
        .our-delicious .menu .item .img-wrap img {
          align-self: center;
          justify-self: center; }
      .our-delicious .menu .item .title {
        font-size: 18px;
        font-weight: 700;
        font-family: Segoe UI; }
      .our-delicious .menu .item .description {
        color: #667085;
        margin-top: 8px; }
      .our-delicious .menu .item .nav {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between; }
        .our-delicious .menu .item .nav .price {
          align-self: center;
          font-weight: 600; }
        .our-delicious .menu .item .nav .menu-item-btns {
          display: flex;
          column-gap: 0.5rem; }
          .our-delicious .menu .item .nav .menu-item-btns button {
            width: 28px;
            height: 28px;
            display: grid;
            border-radius: 5px; }
            .our-delicious .menu .item .nav .menu-item-btns button img {
              align-self: center;
              justify-self: center; }
          .our-delicious .menu .item .nav .menu-item-btns .btn-cart {
            background-color: #F24D21; }
          .our-delicious .menu .item .nav .menu-item-btns .btn-share {
            background-color: #3C3C3C; }
    .our-delicious .menu .item:hover {
      border-color: #F9A755; }
  .our-delicious .nav-menu .list {
    display: flex;
    column-gap: 20px;
    margin-top: 90px;
    justify-content: center; }
    .our-delicious .nav-menu .list .item {
      display: grid; }
      .our-delicious .nav-menu .list .item .btn {
        width: 40px;
        height: 40px;
        font-weight: 700;
        color: #667085;
        align-self: center;
        justify-self: center;
        border-radius: 100px;
        transition: all .2s ease-in-out;
        background-color: #00000000; }
      .our-delicious .nav-menu .list .item .btn:hover {
        color: #fff;
        background-color: #FEB918; }
      .our-delicious .nav-menu .list .item .btn-back,
      .our-delicious .nav-menu .list .item .btn-forward {
        color: #FEB918; }

.our-merits {
  display: flex;
  margin-top: 60px; }
  .our-merits .merits-text-wrapper {
    max-width: 570px;
    text-align: left;
    margin-left: 160px; }
    .our-merits .merits-text-wrapper .title {
      color: #535353; }
    .our-merits .merits-text-wrapper .text {
      margin: 2rem 0;
      color: #667085;
      line-height: 30px; }
    .our-merits .merits-text-wrapper .btn {
      color: #fff;
      border-radius: 6px;
      padding: 16px 19px;
      background-color: #FCC647; }

@font-face {
  font-weight: 700;
  font-family: Segoe UI;
  src: url(./fonts/Segoe\ UI\Bold.ttf); }
